[submodule "services/user/user-service"]
	path = services/user/user-service
	url = https://github.com/stevenbenalcazar/user-service.git
[submodule "services/user/update-user-service"]
	path = services/user/update-user-service
	url = https://github.com/stevenbenalcazar/update-user-service.git
[submodule "services/user/delete-user-service"]
	path = services/user/delete-user-service
	url = https://github.com/stevenbenalcazar/delete-user-service.git
[submodule "services/user/login-service"]
	path = services/user/login-service
	url = https://github.com/stevenbenalcazar/login-service.git
[submodule "services/workspace/board-service"]
	path = services/workspace/board-service
	url = https://github.com/stevenbenalcazar/board-service.git
[submodule "services/Card/update-card"]
	path = services/Card/update-card
	url = https://github.com/CinthiaDayanara/update-card.git
[submodule "created-card"]
	path = created-card
	url = https://github.com/CinthiaDayanara/created-card.git
[submodule "services/list/update-lists"]
	path = services/list/update-lists
	url = https://github.com/CinthiaDayanara/update-lists.git
[submodule "services/list/lists"]
	path = services/list/lists
	url = https://github.com/CinthiaDayanara/lists.git
[submodule "services/list/created-lists"]
	path = services/list/created-lists
	url = https://github.com/CinthiaDayanara/created-lists.git
[submodule "frontend/frontend"]
	path = frontend/frontend
	url = https://github.com/stevenbenalcazar/taskify-frontend.git
